## Build results
[Bb]in/
[Oo]bj/
build/
bld/
*.dll
*.exe
*.pdb
*.cache
*.log

## User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.vs/

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## NuGet
*.nupkg
**/packages/*
!**/packages/build/

## Others
*.tmp
*.bak
*.swp
*.lnk
*.sdf
*.opensdf
*.ncb
*.db
*.db-shm
*.db-wal
*.sbr
*.tlb
*.tli
*.tlh
*.psess
*.vsp
*.vspx
*.gpState
*.mm.*
*.ps1
*.zip
